.btn{
    display:inline-block;
    line-height: 40px;
    padding: 0px 24px;
    border-radius: 20px;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #000069;
    background-color: transparent;
}

.btn-somar{
    background-color:#0000A8;
    color: #fff;
}

.btn-yes{
    background-color: #000069;
    color: #fff;
}